<div class="customers">
  <div class="customer" *ngFor="let customer of customers">
    <p-card header="{{customer.firstName}} {{customer.lastName}}"
            subheader="{{customer.email}}" >
      <div class="customer-edit-button"
           *ngIf="!customer.phoneNumber
             && customer.numberOfPurchases == 0
             && customer.loyaltyPoints == 0
             && !customer.associateName">
        <p-button icon="pi pi-file-edit" [text]="true" (onClick)="editCustomer(customer.id)"> </p-button>
      </div>

      <div class="customer-info-section"
           *ngIf="customer.phoneNumber">

        <div class="customer-info"
             *ngIf="customer.phoneNumber">
          <p>{{customer.phoneNumber}}</p>
          <small>Phone Number</small>
        </div>
        <div class="customer-edit-button"
             *ngIf="customer.phoneNumber
             && customer.numberOfPurchases == 0
             && customer.loyaltyPoints == 0
             && !customer.associateName">
          <p-button icon="pi pi-file-edit" [text]="true" (onClick)="editCustomer(customer.id)"> </p-button>
        </div>

      </div>

      <div class="customer-info-section"
           *ngIf="customer.numberOfPurchases > 0
           || customer.loyaltyPoints > 0
           || !customer.associateName">

        <div class="customer-info"
              *ngIf="customer.loyaltyPoints > 0">
          <p>{{customer.loyaltyPoints}}</p>
          <small>Royalty Points</small>
        </div>
        <div class="customer-info"
             *ngIf="customer.numberOfPurchases > 0">
          <p>{{customer.numberOfPurchases}}</p>
          <small>Purchases</small>
        </div>
        <div class="customer-edit-button"
             *ngIf="customer.numberOfPurchases > 0
             && customer.loyaltyPoints > 0
             && !customer.associateName">
          <p-button icon="pi pi-file-edit" [text]="true" (onClick)="editCustomer(customer.id)" ></p-button>
        </div>

      </div>

      <div class="customer-info-section"
           *ngIf="customer.associateName">

          <div class="customer-info">
            <p>{{ customer.associateName }}</p>
            <small>Associate</small>
          </div>
          <div class="customer-edit-button">
            <p-button icon="pi pi-file-edit" [text]="true" (onClick)="editCustomer(customer.id)" ></p-button>
          </div>

      </div>

    </p-card>
  </div>
</div>
