<h1>Add New User</h1>
<form class="add-new-costumer"
         [formGroup]="formGroup"
         (ngSubmit)="onSubmit()">
  <div class="input">
    <label for="firstName" >First Name</label>
    <input pInputText id="firstName"
           aria-describedby="first-name-help"
           placeholder="Enter your First Name"
           formControlName="firstName"/>
  </div>
  <div class="input">
    <label for="lastName">Last Name</label>
    <input pInputText id="lastName"
           aria-describedby="last-name-help"
           placeholder="Enter your Last Name"
           formControlName="lastName" />
  </div>
  <div class="input">
    <label for="email">Email</label>
    <input pInputText id="email"
           aria-describedby="email-help"
           placeholder="Enter your Email"
           formControlName="email" />
  </div>
  <div class="input">
    <label for="phoneNumber">Phone Number</label>
    <input pInputText id="phoneNumber"
           aria-describedby="phone-number-help"
           placeholder="Enter your Phone Number"
           formControlName="phoneNumber" />
  </div>

  <div class="submit-button">
    <p-button type="submit" [disabled]="formGroup.invalid">Submit</p-button>
  </div>
</form>
